<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="keywords" content="Dennis Taylor, Trucking, NY, CT, NJ, fine arts, moving, transportation, safe, warehouse, storage, museum storage, custom furniture, antiques">
	<meta name="description" content="Full service business servicing the New York Metropolitan area for 35 years. Specialists in transporting and storing antiques, fine arts, and custom furniture.">
	<link rel="shortcut icon" href="/favicon.ico" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" href="{{ "/js/default.js" | prepend: site.baseurl }}"></script>

</head>
